{% if site.disqus %}
<div class="comments">
    <div id="disqus_thread"></div>
    <script>

	    var disqus_shortname = '{{ site.disqus }}';

	    (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript';
            dsq.async = true;
	        dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
	        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	    })();

    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
<script>
    var test = '{{ page.url | absolute_url }}';
    var foo = '{{ page.title }}';
    var foo2 = '{{ page.id }}';
    var foo3 = '{{ page.path }}';
    var foo6 = '{{ page.path | remove_first: "_posts" | remove_first: ".md" }}';
    var foo4 = '{{ page.date }}';

</script>

{% endif %}